spring:
  datasource:
    url: jdbc:h2:file:./data/heroes-db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true

  flyway:
    enabled: true